<section id="warehouses">
  <div class="d-flex gap-4 justify-content-center m-4 align-items-center">
    <h2>Galpões</h2>
    
    <div>
      <%= link_to 'Cadastrar Galpão', new_warehouse_path, class: 'btn btn-primary' %>
    </div>
  </div>

  <div class="border rounded row">
    <% @warehouses.each do |w| %>
      <div class="border col-md-6">
        <h3><%= link_to w.name, warehouse_path(w) %></h3>
    
        <dl class="row ms-4">
          <dt class="col-3">Código:</dt>
          <dd class="col-9"><%= w.code %></dd>
          <dt class="col-3">Cidade:</dt>
          <dd class="col-9"><%= w.city %></dd>
          <dt class="col-3">Área:</dt>
          <dd class="col-9"><%= w.area %> m²</dd>
        </dl>

      </div>
    <% end %>
  </div>

  <% if @warehouses.empty? %>
    <p class="text-muted">Nenhum galpão cadastrado</p>
  <% end %>
</section>