<h2>Registrar Pedido</h2>

<% if @order.errors.any? %>
    <div>
        <p>Verifique os seguintes erros:</p>
        <ul>
            <% @order.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>
<%= form_with model: @order do |form| %>
  <div>
    <%= form.label :warehouse_id %>
    <%= form.collection_select :warehouse_id, @warehouses, :id, :full_description %>
  </div>
  <div>
    <%= form.label :supplier_id %>
    <%= form.collection_select :supplier_id, @suppliers, :id, :corporate_name %>
  </div>
  <div>
    <%= form.label :estimated_delivery_date %>
    <%= form.date_field :estimated_delivery_date %>
  </div>
  <div>
    <%= form.submit "Registrar" %>
  </div>
<% end %>

<%= link_to "Voltar", root_path %>