<section id="supplier">
  <h2>Fornecedor <%= @supplier.brand_name %></h2>
  <h3><%= @supplier.brand_name %></h3>

  <dl>
    <dt>Documento:</dt>
    <dd><%= @supplier.registration_number %></dd>
    <dt>Endereço:</dt>
    <dd><%= @supplier.full_address %> - <%= @supplier.city %> - <%= @supplier.state %></dd>
    <dt>Email:</dt>
    <dd><%= @supplier.email %></dd>
    <dt>Telefone:</dt>
    <dd><%= @supplier.phone %></dd>
  </dl>
</section>

<div>
  <%= link_to "Editar", edit_supplier_path(@supplier) %>
  <%= link_to "Voltar", suppliers_path %>
</div>